@import 'lesshat-prefixed';
@import '_grid';
@import '_mixins';
@import '_variables';

.page {
	background: url('../img/backgrnd-1.jpg') top center no-repeat;
	.lh-background-size(cover);

	&-header {
		position: absolute;
		right: 0;
		.col(4);

		&-ttl {

			&-lnk {
				display: block;
				font-size: 0;
				min-width: 400px;
				min-height: 240px;
				background: url('../img/dxrxt-logo.svg') center no-repeat;
				.lh-background-size(80% auto);
				.rotate(0deg);
			}
		}
	}

	&-main {
		.prefix(4);
	}
}