// 3rd party libs
@import 'lesshat-prefixed';
@import 'fa-variables';
@import '_grid';
@import '_mixins';
@import '_variables';

@font-face {
	.lh-font-face('fontawesome-webfont', '../font/fontawesome-webfont');
}

.transitons {
	.lh-transition(all, 0.25s easeinout);
}

.page {
	background: rgb(5, 4, 2) url('../img/backgrnd-1.jpg') top center no-repeat;
	.lh-background-size(cover);

	&-header {
		&-ttl {
			&-lnk {
				.lh-transform-origin(50% 50%);
				.lh-transition(transform, 0.35s, easeinout);
				display: block;
				font-size: 0;
				background: url('../img/dxrxt-logo.svg') top center no-repeat;
			}
		}
	}

	&-social {
		&-lst {
			padding-left: 0;
		}
		&-lnk {
			font-size: 0;
		}
	}

	&-main {
		text-shadow: 1px 1px 0 @brown-dark;
		&-description {
			margin-top: @base-margin;
		}
	}
}

.btn {
	&-soundcloud {
		.icon("pre", @fa-var-soundcloud, @base-type-h4 );
	}

	&-youtube {
		.icon("pre", @fa-var-youtube-play, @base-type-h4 );
	}

	&-facebook {
		.icon("pre", @fa-var-facebook, @base-type-h4 );
	}

	&-twitter {
		.icon("pre", @fa-var-twitter, @base-type-h4 );
	}

	&-email {
		.icon("pre", @fa-var-at, @base-type-h4 );
	}
}

@import 'media';