// 320px
@media only screen and ( min-width: 320px ) {
	.page {
		padding: 0 @base-margin-half;
		&-header {
			// width: 100%;

			&-ttl {
				&-lnk {
					.lh-background-size(100% auto);
					min-height: 120px;
				}
			}
		}
		&-main {
		}
	}
}

// 480px
@media only screen and ( min-width: 480px ) {
	.page {
		&-header {
			&-ttl {
				&-lnk {
					.lh-background-size(80% auto);
					min-height: 120px;
				}
			}
		}
		&-main {

		}
	}

}

// 640px
@media only screen and ( min-width: 640px ) {
	.page {
		&-header {
			&-ttl {
				&-lnk {
					.lh-background-size(100% auto);
					.rotate(0deg);
					min-height: 120px;
				}
			}
		}
		&-main {

		}
	}

}

// 768px
@media only screen and ( min-width: 768px ) {
	.page {
		&-header {
			.col(4);
			position: absolute;
			right: 0;
			&-ttl {
				&-lnk {
					.rotate(-70deg);
					min-width: 400px;
					min-height: 310px;
				}
			}

		}

		&-main {
			.prefix(4);
		}
	}

}

// 980px
@media only screen and ( min-width: 992px ) {
	.page {
		&-header {
			&-ttl {
				&-lnk {
				}
			}

		}

		&-main {
		}
	}
}

// 1024px
@media only screen and ( min-width: 1024px ) {
	.page {
		&-header {
			&-ttl {
				&-lnk {
				}
			}

		}

		&-main {
		}
	}
}


// 1280px
@media only screen and ( min-width: 1280px ) {
}