// 320px
@media only screen and ( min-width: 320px ) {
	.page {
		padding: 0 @base-margin @base-margin;

		&-header {
			text-align: right;

			&-ttl {
				width: 118%;
				margin: 0 -0.5em;

				&-lnk {
					.lh-background-size(100% auto);
					height: 120px;
				}
			}
		}

		&-social {
			&-itm {
				.inline-block-defaults;
			}
		}
	}
}

// 480px
@media only screen and ( min-width: 480px ) {
	.page {
		padding: 0 @base-margin @base-margin;

		&-header {
			&-ttl {
				.inline-block-defaults;
				margin-right: .5em;
				.col(8);
			}
		}

		&-social {
			&-lst {
				.inline-block-defaults;
				.col(3);
			}
		}
	}
}

// 640px
@media only screen and ( min-width: 640px ) {
	.page {
		&-header {
			&-ttl {
				.col(7);
			}
		}

		&-social {
			&-lst {
				text-align: right;
				.inline-block-defaults;
				.col(5);
			}
		}
	}
}

// 768px
@media only screen and ( min-width: 768px ) {
	.page {
		&-header {
			padding: 0 @base-margin;
			text-align: right;
			position: absolute;
			right: 0;
			.col(4);

			&-ttl {
				&-lnk {
					float: left;
					top: 120px;
					position: absolute;
					.rotate(-70deg);
					min-width: 400px;
					min-height: 200px;
				}
			}
		}

		&-social {
			&-list {
			}
			&-itm {
				.col(3);
				display: block;
				line-height: 2.5;
				text-align: center;
			}
		}

		&-main {
			margin: @base-margin-half @base-margin;
			padding-top: @base-margin * 4;
			.suffix(4);
		}
	}
}

// 980px
@media only screen and ( min-width: 992px ) {
	.page {
		&-header {
			&-ttl {
				&-lnk {
				}
			}

		}

		&-main {
		}
	}
}

// 1024px
@media only screen and ( min-width: 1024px ) {
	.page {
		&-header {
			&-ttl {
				&-lnk {
				}
			}

		}

		&-main {
		}
	}
}


// 1280px
@media only screen and ( min-width: 1280px ) {
}